.header {
    background-image: url("http://www.discoverboating.com/shared-site/static/images/activity-gallery/activity-gallery-21.jpg");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid gray;

}

.text-header {
    text-align:center;
    width: 70%;
    margin-left: 15%;
    padding: 20px 0px;
}

a {
    color: black;
}

button a {
    color: white;
}

.products {
    background-color: lightgray;
    padding: 3% 20%;
}

.image-marketing {
    width: 100%;
    border: pink;
}
.navbar {
    background-color: blue;
}
