.header {
    background-image: url("http://www.discoverboating.com/shared-site/static/images/activity-gallery/activity-gallery-21.jpg");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;

}
