.header {
    background-image: url("http://blogs.r.ftdata.co.uk/photo-diary/files/2013/05/fisherman.jpg");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid gray;
    margin-top: -20px;
    background-position: bottom;

}

.text-header {
    text-align:center;
    width: 70%;
    margin-left: 15%;
    padding: 0px 0px 20px 0px;
    background-color: white;
}

a {
    color: dimgray;
}

button a {
    color: white;
}

.products {
    background-color: lightgray;
    padding: 3% 20%;

}

.image-marketing {
    width: 75%;
    border: 1px solid black;
    margin: 30px;

}
.navbar {
    background-color: lightsalmon;
}
.navbar input {
    float: right;
    margin-top: -30px;
}

.content-body {
    padding-top: 30px;
    
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
