@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<h1>Son Of Cod</h1>
<hr />
<h3>Home index</h3>
<div class="header">

</div>
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
}
else
{
    <p>@Html.ActionLink("Register", "Register", "Account")</p>
    <p>@Html.ActionLink("Log in", "Login", "Account")</p>
}