@{
    ViewData["Title"] = "Son of Cod";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<SonOfCod.Models.Subscriber>
<h2>Current Mailing List</h2>

<table>
    <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Address</th>
    </tr>
    
    @foreach (var subscriber in Model)
    {
        <tr>
            <td>@subscriber.Email</td>
            <td>@subscriber.Name</td>
            <td>@subscriber.Address</td>
        </tr>
    }
</table>


