@{
    ViewData["Title"] = "Son of Cod";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model IEnumerable<SonOfCod.Models.Content>

<h2>Marketing</h2>

@foreach (var item in Model)
{
    <img src="@item.Url" />
}
